codeplex/sourceCode/Microsoft/Product Team Samples V2.1/WCF/Dashboard/Service References/ServiceReference1/ReceiveEvents.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.WcfObserver" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.WcfObserver" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.WcfObserver/Imports">
      <xsd:import schemaLocation="http://localhost:8088/wcf/ReceiveEvents?xsd=xsd0" namespace="http://Microsoft.ServiceModel.WcfObserver" />
      <xsd:import schemaLocation="http://localhost:8088/wcf/ReceiveEvents?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/wcf/ReceiveEvents?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFObserver_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IWCFObserver_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFObserver_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IWCFObserver_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFObserver_OnCompleted_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnCompleted" />
  </wsdl:message>
  <wsdl:message name="IWCFObserver_OnError_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnError" />
  </wsdl:message>
  <wsdl:message name="IWCFObserver_OnNext_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNext" />
  </wsdl:message>
  <wsdl:portType name="IWCFObserver">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/Subscribe" message="tns:IWCFObserver_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/SubscribeResponse" message="tns:IWCFObserver_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/Unsubscribe" message="tns:IWCFObserver_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/UnsubscribeResponse" message="tns:IWCFObserver_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnCompleted">
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/OnCompleted" message="tns:IWCFObserver_OnCompleted_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnError">
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/OnError" message="tns:IWCFObserver_OnError_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnNext">
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.WcfObserver/IWCFObserver/OnNext" message="tns:IWCFObserver_OnNext_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>