codeplex/sourceCode/Microsoft/Product Team Samples V2.1/WCF/Event Generator/Service References/ServiceReference1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8088/wcf/?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8088/wcf/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/wcf/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFObservableOf_Int32_OnCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:OnCompleted" />
  </wsdl:message>
  <wsdl:message name="IWCFObservableOf_Int32_OnCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnCompletedResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFObservableOf_Int32_OnError_InputMessage">
    <wsdl:part name="parameters" element="tns:OnError" />
  </wsdl:message>
  <wsdl:message name="IWCFObservableOf_Int32_OnError_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFObservableOf_Int32_OnNext_InputMessage">
    <wsdl:part name="parameters" element="tns:OnNext" />
  </wsdl:message>
  <wsdl:message name="IWCFObservableOf_Int32_OnNext_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnNextResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFObservableOf_Int32">
    <wsdl:operation name="OnCompleted">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IWCFObservableOf_Int32/OnCompleted" message="tns:IWCFObservableOf_Int32_OnCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IWCFObservableOf_Int32/OnCompletedResponse" message="tns:IWCFObservableOf_Int32_OnCompleted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnError">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IWCFObservableOf_Int32/OnError" message="tns:IWCFObservableOf_Int32_OnError_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IWCFObservableOf_Int32/OnErrorResponse" message="tns:IWCFObservableOf_Int32_OnError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnNext">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IWCFObservableOf_Int32/OnNext" message="tns:IWCFObservableOf_Int32_OnNext_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IWCFObservableOf_Int32/OnNextResponse" message="tns:IWCFObservableOf_Int32_OnNext_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>